.EliminationTable__container {
  background-color: #ffffff;
  padding: 40px;
  width: 100%;
  align-items: center;
}

.EliminationTable__table {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  align-items: center;
  grid-gap: 16px;
  padding: 8px;
  margin: auto;
}
